/*
<!--EncyptedContent-->
<!--Copyrighted By Hybro Team @ Copyrighted.com , All Right Reserved-->
<!--No Copy-->
<!--Hybro Brandname and logo are all registered and protected-->
<!--Dont try To Copy This File-->
<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
*/

/* -*- mode: css; css-indent-offset: 2; -*- */
/*
 * Copyright 2007-2011 Google Inc. All Rights Reserved.
 * Copyright 2011-2017 MIT, All Rights Reserved.
 * Copyright 2018 Hybro Team, All Rights Reserved.
 * Released under the GPL GNUv3 License (Not this version)
 */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body, html {
  height: 100%;
}

body::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #f44336;
}


body {
  background-color: rgba(225, 230, 235, 0);
  /* TODO(opensource): Change to commented version below once we're ready */
 font-family: 'Josefin Sans';
}

table td,
select {
 font-family: 'Josefin Sans';
}

/* For the TOS Form*/
.floatingBox {
  width: 400px;
  height: 320px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.065);
  text-align: center;
  border: 1px #f44336;
}

/*
 * Context menus
 */

.ode-ContextMenu {
  background-color: white;
}

.ode-Leftbar {
  border-left: 1px solid lightgray;
  color: #f44336;position: relative;font-size: medium;height: 28px;margin: 0;min-width: 30px;padding: 0 16px;display: inline-block;font-family: 'Josefin Sans','Material Icons';will-change: box-shadow;transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);outline: none;cursor: pointer;text-decoration: none;text-align: center;line-height: 28px;vertical-align: middle;
}

.ode-Rightbar {
  border-right: 1px solid lightgray;
  color: #f44336;position: relative;font-size: medium;height: 28px;margin: 0;min-width: 30px;padding: 0 16px;display: inline-block;font-family: 'Josefin Sans','Material Icons';will-change: box-shadow;transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);outline: none;cursor: pointer;text-decoration: none;text-align: center;line-height: 28px;vertical-align: middle;
}

.ode-ContextMenuItem,
.ode-CurrentColor {
  color: #000;
  cursor: pointer;
  padding-top: 4px;
  padding-left: 9px;
  padding-bottom: 4px;
  font-size: small;
}

.ode-ContextMenuItem {
  -o-transition:color .1s ease-out, background .1s ease-in;
  -ms-transition:color .1s ease-out, background .1s ease-in;
  -moz-transition:color .1s ease-out, background .1s ease-in;
  -webkit-transition:color .1s ease-out, background .1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .1s ease-out, background .1s ease-in;
}

.ode-ContextMenuItemSeparator {
    overflow: hidden;
    background: #f2f2f2;
    max-height: 1px;
    padding: 1px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
}

.ode-CurrentColor {
  padding-left: 0px;
}

.ode-ContextMenuItem-selected {
}

.ode-ContextMenuItem-disabled {
  cursor: not-allowed;
  color: #999;
}

.ode-Box {
  min-width: 280px;
}

.ode-Box-content {
      font-size: 13px;
      background-color: white;
      color: #282828;
      height: calc(100vh - 60px);
      border: 1px solid lightgrey !important;
      margin: 0;
      border: none;
}

.ode-Box-content::-webkit-scrollbar {
  width: 5px;
}

.ode-Box-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.ode-Box-content::-webkit-scrollbar-thumb {
  background-color: #f44336;
}


.ode-Box-header {
}

.ode-Box-header-caption,
.ode-Box-header-caption-highlighted {
  position: relative;
  background-color: #FFF;
  font-size: 14px;
  cursor: pointer;
  height: 20px;
  padding: 15px 16px 8px 16px;
  border-bottom: 1px solid lightgray;
  text-align: left;
}

.ode-Box-header-caption {
  color: grey;
}

.ode-Box-header-caption-highlighted {
  color: #f44336; /* too strong, but use red for now */
}

.ode-Box-body {
    background-color: #fbfbfb;
    height: 94.5%;
    padding-left: 5px;
}

.ode-Box-body-padding {
  padding: 6px;
}

.ode-BoxResizeControl {
  background-color: darkgray !important;
  /* Override glass panel to 90% opacity (= 10% transparency) */
  filter: alpha(opacity = 90) !important; /* IE */
  opacity: 0.9 !important; /* non-IE */
  padding: 10px;
}

/*
 * MessagesOutputBox
 */

.ode-MessagesOutput {
  background-color: white;
  font-size: small;
}

/*
 * MotdBox
 */

.ode-Motd {
  background-color: #f7f9f2;
  font-size: small;
  color: #555;
}

/*
 * ProjectList and CopyYoungAndroidProjectCommand.CopyProjectDialog
 */



.ode-ProjectNameLabel {
  font-size: 28px;
  color: #f44336;
  opacity: 0.8;
  cursor: pointer;
}

.ode-ProjectTable {
  position: relative;
  padding: 2px;
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  font-size: 16px;
  background-color: white;
}

.ode-ProjectTable td {
  position: relative;
  vertical-align: middle;
  height: 24px;
  border-collapse: collapse;
  font-size: 16px;
  color: #f44336;
  text-align: left;
  padding: 8px;
}

.ode-ProjectTable tbody tr {
    position: relative;
    transition-duration: 0.36s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.3, 0.9);
    transition-property: background-color;
  }

.ode-ProjectTable tbody tr.is-selected {
      background-color: #e0e0e0; }
.ode-ProjectTable tbody tr:hover {
      background-color: #eeeeee; }

.ode-ProjectRowHighlighted {
  border-bottom: 1px solid #ddd;
  height: 200px;
  background: rgba(238,238,238,0.9);
  border-radius: 5px;
  padding: 5px;
  border-collapse: collapse;
}

.ode-ProjectRowUnHighlighted {
  border-bottom: 1px solid #ddd;
  background-color: white;
  height: 80px;
  background: rgba(238,238,238,0.9);
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin:  5px 5px 5px 5px; */
}

.ode-ProjectHeaderLabel {
  color: #f44336;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

/*
.ode-CheckpointProjectTable {
  border: 1px solid darkgray;
} */

/*
 * ComponentList
 */
.ode-ComponentNameLabel {
  font-weight: bold;
  font-size: small;
  color: #555;
}

.ode-ComponentTable {
  padding: 0px;
  margin: 0px;
  border: 1px;
}

.ode-ComponentTable td {
  border-collapse: collapse;
  font-size: small;
  color: #555;
  text-align: left;
  margin: 0px;
}

.ode-ComponentRowHighlighted {
  border-bottom: 1px solid #ddd;
  background-color: #fff6c3;
  border-collapse: collapse;
}

.ode-ComponentRowUnHighlighted {
  border-bottom: 1px solid #ddd;
  background-color: white
}

.ode-ComponentHeaderRow {
  background: url(../images/toolbarBG.png) repeat;
  border: 1px;
  border-bottom: 1px solid #bbccff;
}

.ode-ComponentHeaderLabel {
  color: #112abb;
  font-size: 12px;
  cursor: pointer;
}

/*
 * TopPanel
 */

.ode-TopPanel {
  min-height: 40px;
  margin-top: 8px;
  margin-bottom:  2px;
  height: 40px;
  background-color: white;
  /* -webkit-box-shadow:0px 1px 1px black;
 -moz-box-shadow:0px 1px 1px black;
 box-shadow:0px 1px 1px black; */
}

.ode-Logo {
  margin: 0px 0px 4px 4px;
  padding-left: 15px;
/*  -webkit-filter: drop-shadow(0px 0px 1px #222);
  filter:         drop-shadow(0px 0px 1px #222); */
}

/*
.ode-Logo:hover {
  -webkit-filter: drop-shadow(0px 0px 3px #222);
  filter:         drop-shadow(0px 0px 3px #222);
}
*/

.ode-LogoText {
  font-size: 16px;
  color: grey;
  font-weight: 500;
  text-shadow: 0px 0px 0px #404040;
}

.ode-TopPanelAccount {
  font-size: 15px;
  color: grey;
  padding-right: 15px;
}

.ode-TopPanelAccount a {
  color: #669900;
}

.ode-TopPanelAccount .linkdivider {
  color: #dedede;
}

.ode-TopPanelLinks .gwt-Label,
.ode-TopPanelLinks .gwt-Anchor,
.ode-TopPanelLinks .gwt-TitleLabel {
  cursor: pointer;
  color: rgb(100, 100, 100);
  font-family: 'Josefin Sans';
  font-weight: 300;
  font-size: 12px;
  margin-right: 16px;
  text-decoration: none;
}

.ode-TopPanelLinks .gwt-Label:hover,
.ode-TopPanelLinks .gwt-Anchor:hover,
.ode-TopPanelLinks .gwt-TitleLabel:hover {
  text-shadow: 0px 0px 1px #BABABA;
}

.ode-TopPanelWarningLabel {
  color: #FF0000;
}

.ode-TopPanelLabel {
  color: #888;
  font-family: 'Josefin Sans';
  font-size: 15px;
}

.ode-TopPanelIconButton {
  margin: 4px 8px;
  cursor: pointer;
}

.ode-TopPanelIconButton:hover {
  -webkit-filter: drop-shadow(0px 0px 3px #222);
  filter:         drop-shadow(0px 0px 3px #222);
}

.ode-TopPanelIconButton:active {

}

.ode-TopPanelButton:active
.ActionDropDown-Default:active
.ActionDropDown-Options:active {

}

.ActionDropDown-Default {
  padding: 0px 6px;
}

.ActionDropDown-Options {
  padding: 0px 6px;
}

/*
 * Deck Panel
 */

.ode-DeckPanel {
  margin: 0;
}

.ode-NavArrow {
  border: transparent;
  background: #C2C2C2;
  -o-transition:color .2s ease-out, background .2s ease-in;
  -ms-transition:color .2s ease-out, background .2s ease-in;
  -moz-transition:color .2s ease-out, background .2s ease-in;
  -webkit-transition:color .2s ease-out, background .2s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background .2s ease-in;}

.ode-NavArrow:hover {
  background-color: darkgray;
}



/*
 * StatusPanel
 */

.ode-StatusPanel {

}

.ode-StatusPanel a {
  display: none;
}

/*
 * Non-visible component panel
 */

.ya-NonVisibleComponentsHeader {
  font-size: 13px;
  font-weight: bold;
  color: #555;
  padding: 5px;
}

.ode-SimpleUiDesignerNonVisibleComponents .ode-Icon,
.ode-SimpleUiDesignerNonVisibleComponents .ode-Icon-selected {
  display: inline-table;
  padding:6px 6px 6px 6px;
  margin-left: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.ode-SimpleUiDesignerNonVisibleComponents .gwt-Label {
  font-size: 12px;
  color: #555;
}

.ode-Icon, .ode-Icon-selected {
  font-size: small;
  padding: 2px 4px 2px 4px;
}

.ode-Icon-selected {
  padding: 0 2px 0 2px;
  border: 2px solid #F5F5F5;
}

.gwt-TabBar {
  margin: 5px 0px 5px 0px;
}

.gwt-TabBar .gwt-TabBarFirst {
  width: 0px;
}

.gwt-TabBar .gwt-TabBarItem {
      margin: 0px 5px 0px 0px;
    padding: 3px 6px 3px 6px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    background-color: transparent;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.gwt-TabBar .gwt-TabBarItem-selected {
  cursor: default;
  background-color: #F5F5F5;
  border: 2px solid #F5F5f5;
}

.gwt-RadioButton {
  font-size: small;
}

.gwt-VerticalSplitPanel, gwt-HorizontalSplitPanel {
  background: white;
}

.gwt-TextBox {
  padding: 0px;
  margin: 0px;
}
.gwt-Tree{/* overflow-y: scroll; */max-height: 470px;}
.gwt-Tree::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.gwt-Tree::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.gwt-Tree::-webkit-scrollbar-thumb {
  background-color: #f44336;
}

.gwt-Tree .gwt-TreeItem span * {
  margin: 0 2px;
  width: 15px;
  height: 15px;
}

.gwt-Tree .gwt-TreeItem {
  font-size: 12px;
  padding: 12px 15px 12px 15px;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  display: block !important;
  margin-bottom: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.gwt-Tree .gwt-TreeItem-selected {
  background: none;
}

.gwt-Tree .gwt-TreeItem span {
  padding: 10px 6px 6px 6px;
}

gwt-Tree .gwt-TreeItem span:hover,
.gwt-Tree .gwt-TreeItem-selected span {
  background-color: #eee;
  padding: 12px 66px 5px 12px;
  opacity: 0.7;
  border: 1px solid transparent;
}

/* Young Android Toolbar */

.ya-Toolbar {
 display: none;
}

.ya-ProjectName {
    padding-left: 15px;
    font-size: 16px;
}

.ya-Toolbar .ya-ProjectName {
  margin-left: 5px;
  margin-top: 10px;
  color: #f44336;
  font-size: medium;
  padding: 5px 5px 5px 15px;
  font-family: 'Josefin Sans';
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
}

.ode-TextButton, .ode-TopPanelButton{color: #f44336;position: relative;font-size: medium;height: 28px;margin: 0;min-width: 30px;padding: 0 16px;display: inline-block;font-family: 'Josefin Sans','Material Icons';will-change: box-shadow;transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);outline: none;cursor: pointer;text-decoration: none;text-align: center;line-height: 28px;vertical-align: middle;}

.ode-TextButton-up-disabled,
.gwt-Button-up-disabled {
  cursor: not-allowed;
  opacity: 0.6;
  color: lightgray;
}

.ode-TextButton:hover,
.gwt-Button:hover {
  background:  #f3f0f0 radial-gradient(circle, transparent 1%, #f3f0f0 1%) center/15000%;
}


.ode-TextButton-up-disabled:hover,
.gwt-Button-up-disabled:hover {
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}


.ode-TextButton:active,
.gwt-Button:active {
  background-color: #d8d0d0;
  background-size: 100%;
  transition: background 0.3s;
}

.gwt-Button {
    background: #fff;
    border-radius: 3px;
    color: #f44336;
    position: relative;
    height: 28px;
    margin: 0;
    min-width: 40px;
    display: inline-block;
    font-family: 'Josefin Sans';
    padding: 12px 20px 20px 20px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: none;
    vertical-align: middle;
  }

  .destructive-action[disabled],
.destructive-action[disabled]:hover {
  background: #faa;
  color: #888;
}

.ya-Toolbar .ode-TextButton {
  font-size: small;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 4px;
}

.ode-PanelButtons .ode-TextButton {
  font-size: 15px;
}

.ode-BlocksDesignerButton {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.ode-BlocksDesignerButton:hover,
.ode-BlocksDesignerButon:disabled {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

/* Palette */

.gwt-StackPanelItem div {
  font-size: 13px;
  cursor: pointer;
  height: 18px;
      border-radius: 3px;
    margin: 4px 4px 4px 4px;
  color: #ff4436;
  padding: 8px 16px;
  text-align: left;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.gwt-StackPanelItem-selected div {
}

.gwt-StackPanelContent {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 8px;
}

/* Overrides for gwt.css */
.gwt-StackPanel .gwt-StackPanelContent {
  padding: 8px 12px 8px 8px;
}
.gwt-StackPanel .gwt-StackPanelItem {
  padding: 0px;
  border: 0px;
}


.ode-SimplePaletteItem {
  background-color: white; /* needed on Firefox */
  height: 30px;
  cursor: pointer;
  width: 100%;
  background-color: white;
  padding: 8px;
  border-radius: 3px;
  display: table;
  margin-bottom: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.ode-SimplePaletteItem-icon {
  height: 18px;
  width: 18px;
}

.ode-SimplePaletteItem-caption {
  font-size: 12px;
  padding-top: 5px;
  color: #282828;

}

.ode-SimplePalleteItem-button {
  padding: 2px;
}

.gwt-SimplePanel {
  border: 1px solid #67A7E3;
  background-color: white;
}

.ode-ExplorerContent {
  height: 100%;
  padding: 0 1ex;
  font-size: small;
}

.ode-CollapsiblePanelExpanded {
  background-color: #D6E9F8;
}

.ode-CollapsiblePanelCollapsedLeft {
  background-color: #D6E9F8;
  margin-right: 2px;
}

.ode-CollapsiblePanelCollapsedBottom {
  background-color: #D6E9F8;
  margin-top: 2px;
}

.ode-CollapsiblePanelTitle {
  background-color: #D6E9F8;
  color: black;
  font-size: small;
  margin-bottom: 2px;
}

.ode-HeaderPanel {
  width: 100%;
  border: 1px solid #D6E9F8;
  background-color: white;
}

.ode-HeaderPanelTitleBar {
  background-color: #FFFFF;
  color: black;
  font-size: small;
}

.ode-PropertiesPanel {
  background-color: #fff;
  padding-left: 15px;
  padding-right: 9px;
  padding-bottom: 9px;
}

.ode-PropertiesPanel td {
  color: #555;
  font-size: 12px;
}

.ode-PropertiesComponentName {
  background-color: #fff;
  color: #282828;
  font-size: 13px;
  height: 20px;
  padding: 18px 9px 8px 15px;
}

.ode-PropertyLabel {
  padding-top: 10px;
  padding-left: 2px;
  padding-bottom: 1px;
}

.ode-PropertyEditor input[type="checkbox"] {

  display: none;
}

.ode-PropertyEditor input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  min-width: 112px;
  cursor: pointer;
  padding: 16px 0 16px 32px;
}

.ode-PropertyEditor input[type="checkbox"] + label:before,
.ode-PropertyEditor input[type="checkbox"] + label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ode-PropertyEditor input[type="checkbox"] + label:before {
  left: 1px;
  width: 28px;
  height: 10px;
  background-color: #9E9E9E;
  border-radius: 8px;
}

.ode-PropertyEditor input[type="checkbox"] + label:after {
  left: 0;
  width: 16px;
  height: 16px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}

.ode-PropertyEditor input[type="checkbox"]:checked + label:before {
  background-color: #9e9e9e;
}

.ode-PropertyEditor input[type="checkbox"]:checked + label:after {
  background-color: #f44336;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}


.ode-PropertyEditor:hover {
  cursor: auto;
}

.ode-ChoicePropertyEditor {
  padding: 8px 5px 5px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #575757;
  width: 83%;
  HEIGHT: 22px;
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  margin-bottom: 2px;
}


.ode-ChoicePropertyEditor:hover {
  background: #E6E6E6;
  color: #5B5B5B;
}

.ode-ChoicePropertyEditor:focus {
  outline: 0;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #D3D3D3;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #D3D3D3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #D3D3D3;
}

select.ode-PropertyEditor[disabled] {
  background-color: #aaaaaa;
}

.ode-MultipleChoicePropertyEditor {
  min-width: 180px;
  background-color: white;
  font-size: small;
  color: black;
  border-radius: 3px;
  padding: 11px 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.ode-ColorChoicePropertyEditor {
  padding: 10px 3px 3px 12px;
  height: 20px;
  background-color: #f5f5f5;
  border-radius: 3px;
  cursor: pointer;
  width: 84%;
}

.ode-ColorChoicePropertyEditor:focus {
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.ode-SimpleFormDesigner {
  padding: 2px;
}

.ode-SimpleFormDesigner .gwt-CheckBox {
  font-size: smaller;
  font-family: 'Josefin Sans';
}

.ode-mtl-textfield {
    --pure-material-safari-helper1: rgb(var(--pure-material-primary-rgb, 244, 67, 54));
    position: relative;
    display: inline-block;
    padding-top: 6px;
    font-family: var(--pure-material-font, "Roboto", "Josefin Sans", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    overflow: hidden;
}

/* Input, Textarea */
.ode-mtl-textfield > input,
.ode-mtl-textfield > textarea {
    box-sizing: border-box;
    margin: 0;
    border: solid 1px; /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-top-color: transparent;
    border-radius: 4px;
    padding: 15px 13px 15px;
    width: 100%;
    height: inherit;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    background-color: transparent;
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--pure-material-primary-rgb, 244, 67, 54));
    transition: border 0.2s, box-shadow 0.2s;
}

/* Span */
.ode-mtl-textfield > input + span,
.ode-mtl-textfield > textarea + span {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    width: 100%;
    max-height: 100%;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    font-size: 75%;
    line-height: 15px;
    cursor: text;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.ode-mtl-textfield > input + span::before,
.ode-mtl-textfield > input + span::after,
.ode-mtl-textfield > textarea + span::before,
.ode-mtl-textfield > textarea + span::after {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-top: 6px;
    border-top: solid 1px;
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    min-width: 10px;
    height: 8px;
    pointer-events: none;
    box-shadow: inset 0 1px transparent;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.ode-mtl-textfield > input + span::before,
.ode-mtl-textfield > textarea + span::before {
    margin-right: 4px;
    border-left: solid 1px transparent;
    border-radius: 4px 0;
}

.ode-mtl-textfield > input + span::after,
.ode-mtl-textfield > textarea + span::after {
    flex-grow: 1;
    margin-left: 4px;
    border-right: solid 1px transparent;
    border-radius: 0 4px;
}

/* Hover */
.ode-mtl-textfield:hover > input,
.ode-mtl-textfield:hover > textarea {
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    border-top-color: transparent;
}

.ode-mtl-textfield:hover > input + span::before,
.ode-mtl-textfield:hover > textarea + span::before,
.ode-mtl-textfield:hover > input + span::after,
.ode-mtl-textfield:hover > textarea + span::after {
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

.ode-mtl-textfield:hover > input:not(:focus):placeholder-shown,
.ode-mtl-textfield:hover > textarea:not(:focus):placeholder-shown {
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

/* Placeholder-shown */
.ode-mtl-textfield > input:not(:focus):placeholder-shown,
.ode-mtl-textfield > textarea:not(:focus):placeholder-shown {
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

.ode-mtl-textfield > input:not(:focus):placeholder-shown + span,
.ode-mtl-textfield > textarea:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 62px;
}

.ode-mtl-textfield > input:not(:focus):placeholder-shown + span::before,
.ode-mtl-textfield > textarea:not(:focus):placeholder-shown + span::before,
.ode-mtl-textfield > input:not(:focus):placeholder-shown + span::after,
.ode-mtl-textfield > textarea:not(:focus):placeholder-shown + span::after {
    border-top-color: transparent;
}

/* Focus */
.ode-mtl-textfield > input:focus,
.ode-mtl-textfield > textarea:focus {
    border-color: rgb(var(--pure-material-primary-rgb, 244, 67, 54));
    border-top-color: transparent;
    box-shadow: inset 1px 0 var(--pure-material-safari-helper1), inset -1px 0 var(--pure-material-safari-helper1), inset 0 -1px var(--pure-material-safari-helper1);
    outline: none;
}

.ode-mtl-textfield > input:focus + span,
.ode-mtl-textfield > textarea:focus + span {
    color: rgb(var(--pure-material-primary-rgb, 244, 67, 54));
}

.ode-mtl-textfield > input:focus + span::before,
.ode-mtl-textfield > input:focus + span::after,
.ode-mtl-textfield > textarea:focus + span::before,
.ode-mtl-textfield > textarea:focus + span::after {
    border-top-color: var(--pure-material-safari-helper1) !important;
    box-shadow: inset 0 1px var(--pure-material-safari-helper1);
}

/* Disabled */
.ode-mtl-textfield > input:disabled,
.ode-mtl-textfield > input:disabled + span,
.ode-mtl-textfield > textarea:disabled,
.ode-mtl-textfield > textarea:disabled + span {
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
    border-top-color: transparent !important;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    pointer-events: none;
}

.ode-mtl-textfield > input:disabled + span::before,
.ode-mtl-textfield > input:disabled + span::after,
.ode-mtl-textfield > textarea:disabled + span::before,
.ode-mtl-textfield > textarea:disabled + span::after {
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.ode-mtl-textfield > input:disabled:placeholder-shown,
.ode-mtl-textfield > input:disabled:placeholder-shown + span,
.ode-mtl-textfield > textarea:disabled:placeholder-shown,
.ode-mtl-textfield > textarea:disabled:placeholder-shown + span {
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.ode-mtl-textfield > input:disabled:placeholder-shown + span::before,
.ode-mtl-textfield > input:disabled:placeholder-shown + span::after,
.ode-mtl-textfield > textarea:disabled:placeholder-shown + span::before,
.ode-mtl-textfield > textarea:disabled:placeholder-shown + span::after {
    border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .ode-mtl-textfield > input,
        .ode-mtl-textfield > input + span,
        .ode-mtl-textfield > textarea,
        .ode-mtl-textfield > textarea + span,
        .ode-mtl-textfield > input + span::before,
        .ode-mtl-textfield > input + span::after,
        .ode-mtl-textfield > textarea + span::before,
        .ode-mtl-textfield > textarea + span::after {
            transition-duration: 0.1s;
        }
    }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fca8a2; 
  border-radius: 20px;
}

label {}

.ode-SimpleMockForm {
  border-radius: 18px;
  height: 585px;
}

.ode-SimpleMockFormPhoneLandscape .ode-SimpleMockForm,
.ode-SimpleMockFormPhoneLandscapeTablet .ode-SimpleMockForm,
.ode-SimpleMockFormPhoneLandscapeMonitor .ode-SimpleMockForm {
  -webkit-flex-direction: row;
  flex-direction: row;
}

.ode-SimpleMockFormPhonePortrait .ode-SimpleMockForm,
.ode-SimpleMockFormPhonePortraitTablet .ode-SimpleMockForm,
.ode-SimpleMockFormPhonePortraitMonitor .ode-SimpleMockForm {
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* ==== start: skins for Android */
.ode-SimpleMockFormPhoneLandscape {
    background: url(../images/phoneLandscape.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% 100%;
    padding: 82px 53px 83px 16px;
}

.ode-SimpleMockFormPhonePortrait {
  margin-top: 60px;
  background: url(../images/phonePortrait.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100% 100%;
  padding: 15px 82px 36px 82px;
}

.ode-SimpleMockFormPhoneLandscapeTablet {
    background: url(../images/phoneLandscapeTablet.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% 100%;
    padding: 25px 75px 28px 73px;
}
.ode-SimpleMockFormPhonePortraitTablet {
  background: url(../images/phonePortraitTablet.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100% 100%;
  padding: 57px 27px 42px 27px;
}
.ode-SimpleMockFormPhoneLandscapeMonitor {
  background: url(../images/phoneLandscapeMonitor.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100% 100%;
  padding: 42px 109px 44px 101px;
}

.ode-SimpleMockForm-selected {
  border: 1px solid #f44336;
}

.ode-SimpleMockFormTitleBar {
  background-color: dimgray;
  color: white;
  font-size: 90%;
  border-bottom: 1px solid lightgray;
}

.ode-SimpleMockFormTitleBar-ActionBar {
  background-color: #a5cf47;
  color: white;
  font-size: 20px;
  position: relative;
}

.ode-SimpleMockFormTitle {
  padding: 0;
  top: 4px;
  left: 12px;
  position: absolute;
}

.ode-SimpleMockFormTitleBar-ActionBar .ode-SimpleMockFormTitle {
  padding: 16px;
  top: 0;
  left: 0;
}

.ode-SimpleMockFormMenuButton {
  right: 0;
  padding: 16px;
  position: absolute;
  border: 0;
  background-color: transparent;
  font: 20px Roboto bold;
  color: white;
  display: none;
}

.ode-SimpleMockFormTitleBar-ActionBar .ode-SimpleMockFormMenuButton {
  display: inline-block;
}

.ode-SimpleMockFormNavigationBarPortrait,
.ode-SimpleMockFormNavigationBarLandscape {
  background-color: #000000;
  border-radius: 6px;
}

.ode-SimpleMockFormNavigationBarPortrait {
  min-height: 13px;
  width: 100%;
  background-image: url(../images/navigationbarPortrait.png) !important;
  background-repeat: no-repeat;
  background-position: center center;
}

.ode-SimpleMockFormNavigationBarLandscape {
  min-height: 100%;
  min-width: 44px;
  background-image: url(../images/navigationbarLandscape.png) !important;
  background-repeat: no-repeat;
  background-position: right center;
}


.ode-SimpleMockContainer {
  background-color: transparent;
  border: 1px solid black;
}

.ode-SimpleMockContainer-selected {
  border: 1px solid #f44336;
}

.ode-SimpleMockComponent {
  font-weight: normal;
  font-size: 12px;
  border: 1px solid transparent;
}

.ode-SimpleMockComponent-disabled {
  color: gray;
}

.ode-SimpleMockComponent-selected {
  border: 1px solid #f44336;
}

.ode-SimpleMockMapFeature-selected svg * {
  stroke: #8fc202;
  stroke-opacity: 1;
}

path.ode-SimpleMockMapFeature-selected {
  stroke: #8fc202;
  stroke-opacity: 1;
}

.ode-SimpleMockMapFeature img {
  padding: 2px;
}

.ode-SimpleMockMapFeature-selected img {
  padding: 0;
  border: 2px solid #8fc202;
}

.ode-SimpleMockContainer .leaflet-container .leaflet-toolbar-icon {
  color: #888;
}

.ode-SimpleMockContainer .leaflet-container .leaflet-toolbar-icon:hover {
  color: #0078A8;
}

.ode-SimpleMockContainer .leaflet-container .leaflet-toolbar-icon.locked .fa-unlock,
.ode-SimpleMockContainer .leaflet-container .leaflet-toolbar-icon.locked:hover .fa-lock,
.ode-SimpleMockContainer .leaflet-container .leaflet-toolbar-icon.unlocked .fa-lock,
.ode-SimpleMockContainer .leaflet-container .leaflet-toolbar-icon.unlocked:hover .fa-unlock {
  display: none;
}

.ode-SimpleMockContainer .leaflet-container .leaflet-toolbar-icon.locked:hover .fa-unlock,
.ode-SimpleMockContainer .leaflet-container .leaflet-toolbar-icon.unlocked:hover .fa-lock {
  display: inline-block;
}

.ode-SimpleMockContainer .leaflet-container .ai2-user-mock-location {
    position: relative;
    width: 32px;
    height: 32px;
}

.ode-SimpleMockContainer .leaflet-container .ai2-user-mock-location img {
    position: relative;
    top: -50%;
    left: -50%;
    width: 32px;
    height: 32px;
}

.ode-SimpleMockContainer-centerContents {
  text-align: center;
}

.ode-SimpleMockButton {
  padding: 4px 8px;
  text-shadow: none;
  border: 0;
  border-radius: 2px;
  background-color: #d6d7d7;
  color: rgba(0, 0, 0, 0.87);
}

/* class for the ListView Mock component */
.listViewComponentStyle {
  width: 315px;
  display: block;
  overflow: auto;
}

.listViewItemStyle {
  border-bottom: 1px solid gray;
  min-height: 40px;
  display: table-cell;
  vertical-align: middle;
}

/* class for the ListView Mock component */
.spinnerComponentStyle {
  outline: 1px solid lightgray;
}

/* class for the Image Mock component */
.imageComponentCenterPanel {
  text-align: center;
}

.imageComponentCenterPanel img {
  position: relative;
  top: 50%;
  transform: translate(0px, -50%);
}

/* Component Help */

.ode-ComponentHelpPopup {
  background-color: white;
  border-radius: 2px;
  padding:8px 8px 8px 8px;
  width: 21%;
  top: 75vh !important;
left: 25vh !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  /* z-index: 1000; */
}

.ode-ComponentHelpPopup-TitleBar {
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Josefin Sans';
  font-size: 14px;
  font-weight: 400;
}

.ode-ComponentHelpPopup-Body {
  padding: 10px;
  color: #555;
  font-family: 'Josefin Sans';
  font-size: 12px;
  font-weight: 400;
}

.ode-ComponentHelpPopup-Link {
  padding: 0px 10px 10px 10px;
  font-size: 12px;

}
.ode-ComponentHelpPopup-Link a {
  color: #f44336;
  text-decoration:  none;
  font-family: 'Josefin Sans';
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
}

.ode-ComponentHelpPopup > .popupContent > table {
  width: 100%;
  word-break: break-word;
}

.compiler-ErrorMarker {
  color: red;
}

.compiler-WarningMarker {
  color: orange;
}

.centered {
  text-align: center;
  align: center;
}

.hsplitter, .vsplitter {
  background-color: #D6E9F8;
}

.ode-RpcStatusMessage .popupMiddleCenterInner {
  font-weight: bold;
  font-size: small;
  padding: 2px 2px 0px 2px;
}

.ode-RpcStatusMessage .popupMiddleLeft,
.ode-RpcStatusMessage .popupMiddleCenter,
.ode-RpcStatusMessage .popupMiddleRight,
.ode-RpcStatusMessage .popupBottomCenter {
  background-color: #FFF1A8;
}

.ode-RpcStatusMessage .popupBottomLeft {
  width: 4px;
  height: 4px;
  background: url(../images/rpcMessageCorners.png) no-repeat 0px -4px;
}

.ode-RpcStatusMessage .popupBottomRight {
  width: 4px;
  height: 4px;
  background: url(../images/rpcMessageCorners.png) no-repeat -4px -4px;
}

.ode-ErrorMessage {
  color: #FF4444;
  font-weight: bold;
  font-size: 13px;
  margin: 8px 16px;
}

.ode-InfoMessage {
  font-weight: bold;
  font-size: 13px;
  margin: 8px 16px;
  color: #2d2d2d;
}

.ode-GroupedList .Header {
  margin-top: 3px;
}

.ode-GroupedList .Header td {
  padding: 2px 5px;
  font-weight: bold;
  background: #eee;
}

.ode-GroupedList .HeaderDescription {
  font-weight: normal;
  font-size: x-small;
  font-style: italic;
}

.ode-GroupedList .Item td {
  padding: 2px 10px;
}

.ode-PixelsLabel {
  padding-left: 4px;
  font-size: small;
}

/* All dialog boxes */


/* Start of NoProjectsDialogBox. */
.ode-noDialogDiv {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  min-width: 700px;
  width: 60%;
  background-color: white;
  padding-bottom: 25px;
}

.ode-noDialogDivHeader {
  background-color: #fff;
  height: 10%;
  padding: 10px;
  border-bottom: 1px #e9e9e9 solid;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.ode-noDialogDivInnerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}


.ode-headerTitle {
  color: #f44336;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}

.ode-tutorialsTitle {
  color: #f44336 ;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ode-noDialogExampleDivs {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.ode-noDialogExampleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  min-width: 182px;
  min-height: 300px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0px;
}

.ode-noDialogExampleTitle {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 14px;
}

.ode-noDialogExampleImage {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ode-noDialogExampleAbout {
  font-size: 12px;
}

.ode-noDialogUpperDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.ode-bottomRow {
  margin-top: 20pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 799px) {
  .ode-noDialogExampleDivs {
    flex-direction: column;
    align-items: center;
  }
}

/* End of NoProjectsDialogBox. */



/* would pop more with a white border around their normal green border */

.ode-DialogBox {
  background-color: white;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  z-index: 1000;
  border-radius: 2px;
  clip: 0 !important;
  padding: 25px;
}


.ode-DialogBox .gwt-CheckBox {
  font-size: 12px;
}

.ode-DialogBox .gwt-CheckBox label {
  padding-left: 4px;
}

.ode-DialogBox .gwt-CheckBox input[type="checkbox"] {
  margin: 0;
  padding-left: 4px;
}

.ode-DialogBox .dialogTop {
  background-color: transparent;
}

.ode-DialogBox .Caption {
  color: #282828;
  font-family: 'Josefin Sans';
  letter-spacing: 0;
  font-size:  18px;
  padding: 5px 10px;
}

.ode-DialogBox .dialogContent {
  padding: 5px 10px;
}

.ode-DialogBox .dialogContent td {
  padding: 2px 10px 2px 10px;
  font-size: 12px;
  color: #282828;
  display: inline;
}

.ode-DialogBox {
  margin: 10px;
  border-radius: 3px;
  padding: 15px 25px 15px 15px;
  background: rgb(252, 252, 252);
  color: #f44336;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.ode-DialogBox table {
  width: 100%;
}

/* AI2 Extensions Styles */

a.ode-ExtensionAnchor {
  display: inline-block;
  padding-bottom: 8px;
  font-style: italic;
  color: grey;
  -o-transition:color .2s ease-out;
  -ms-transition:color .2s ease-out;
  -moz-transition:color .2s ease-out;
  -webkit-transition:color .2s ease-out;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out;
}

a.ode-ExtensionAnchor:hover {
  color: #5B5B5B;
}

/* Settings dialog boxes */

.ode-Settings {
  min-width: 320px;
  min-height: 160px;
}

/* AndroidServlet */

.ode-Android-banner {
  text-align: large;
  font-weight: bold;
}

.ode-Android-header {
  font-size: small;
  text-align: right;
}

.ode-Android-caption {
  background-color: #8fc202;
  color: white;
  font-size: medium;
}

.ode-Android-body {
  font-size: medium;
}

.ode-Android-footer {
  height: 12px;
  font-size: x-small;
  text-align: center;
  background-color: #D6E9F8;
  color: black;
  padding: 4px;
}

.gwt-ProgressBar-shell {
  border-radius: 2px;
  background-color: #AAAAAA;
  height: 30pt;
  width: 100%;
}
.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
  background-color: #f44336;
}
.gwt-ProgressBar-shell .gwt-ProgressBar-text {
  position: absolute;
  top:0; left:0;
  padding-top: 10px;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size:large;
}

/*
 * PopupPanel
 */

.gwt-PopupPanel {
  width: 260px;
  z-index: 1000;
  float: left;
  padding: 3px 0;
  border-radius: 8px;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.gwt-PopupPanelGlass {
  z-index: 1000;
}

/*
 * Bootstrap Inputs
 */

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display:block;
  height: 15px;
  padding: 5px 5px 5px 10px;
  font-size: 15px;
  font-family: 'Josefin Sans';
  color: black;
  vertical-align: middle;
  border:none;
  border-radius: 4px;
  background-color: #f5f5f5;
  /* border-bottom: 1px solid #f44336; */
}

input,
textarea,
.uneditable-input {
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #f5f5f5;
  font-size: 12px;
  /* border: 1px solid #f44336; */
  border-radius: 3px;
  height: 25px;
  margin-top: 2PX;
  width: 85%;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  outline: 0;
  outline: thin dotted \9;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  
  *
  margin-top: 0;
  line-height: normal;
  margin-bottom: 4px;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
  display: block;
  margin-right: 5px;
  float: left;
  font-family: 'Josefin Sans';
  font-size: 110%;
  text-align:  center;
  background-color: transparent;
  color: #f44336;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *
  margin-left: 10px;
  /* For IE7, add top margin to align select with labels */
  margin-left:;
  line-height: 30px;
}

select {
  background-color: #f5f5f5;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.uneditable-input,
.uneditable-textarea {
  color: #999999;
  cursor: not-allowed;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}

.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}

.uneditable-textarea {
  width: auto;
  height: auto;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}

.radio {
  min-height: 20px;
  padding-left: 20px;
}

.checkbox {
  min-height: 20px;
  padding-left: 20px;
}


.radio input[type="radio"] {
  float: left;
  margin-left: -20px;
}


.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}




.controls > .checkbox:first-child {
  padding-top: 5px;
  left: 1px;
width: 34px;
height: 14px;
background-color: #9E9E9E;
border-radius: 8px;
}

.controls > .radio:first-child {
  padding-top: 5px;
}


.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

/* Moderation Page styles */
.all-reports {
  float: right;
}
.ode-ModerationTable {

}
.ode-ModerationTable .primary-link {
  color: black;
}
.inline-label{
  display:inline;
  margin-right:5px;
}

.time-label{
  display:inline;
  margin-right:15px;
  font-style:italic;
}
.seemore-link {
  color: #333399;
  border-bottom: 1px dotted #b3c833;
  font-weight: 300; font-size: 14px; line-height: 1.75;
  display:inline;
  margin-right:5px;
}

.seemore-link:hover {
  color: #980000;
  cursor: pointer;
  text-decoration:underline;
}



/* Blocks editor */
.svg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ac-renderer {
  font: normal 13px Arial, sans-serif;
  position: absolute;
  background: #fff;
  border: 1px solid #4CAF50;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  width: 300px;
  height: 294px;
  overflow: auto;
}
.ac-row {
  cursor: pointer;
  padding: .4em;
}
.ac-highlighted {
  font-weight: bold;
}
.ac-active {
  background-color: #b2b4bf;
}
.ai_type_block {
  position: absolute;
  z-index: 2000;
}

.goog-hsva-palette, .goog-hsva-palette-sm {
  border: 0;
}

div.vector-marker>svg, div.leaflet-marker-icon>img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 2px;
}

div.dropdiv {
  position: fixed;
  z-index: 1000000;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: none;
  pointer-events: none;
}

div.dropdiv.good {
  background-color: rgba(128, 255, 128, 0.3);
  border: 8px dashed darkgreen;
  display: block;
}

div.dropdiv div {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

div.dropdiv p {
  text-align: center;
  top: -15pt;
  font-size: 18pt;
  line-height: 30pt;
  color: darkgreen;
  margin:  0;
  position: relative;
}

.download-button {
  display: grid;
  max-width: 130px;
  margin: 0 !important;
  margin-top: 12px !important;
  margin-left: -3px !important;
  height: 130px;
}

.download-icon {
  height: 110px;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
}

.download-barcode:before {
    content: "";
    background-color: #888;
    position: absolute;
    width: 1px;
    height: 160px;
    top: 40px;
    left: 50%;
    display: block;
}

.GG-QS0WCOB {
  background : none !important;
  background-color: rgba(244, 67, 54, 0.2) !important;
}

.ode-Box-sourcestructure {
  height: calc(100vh - 235px) !important;
}

.goog-hsva-palette-sm-input {
  width: 130px !important;
  height: 18px !important;
}

.ode-PhoneSizeListBox {
  margin-top: 15px;
  margin-left:150px;
}

.ode-assetUpload {
  background-color: #F5F5F5 !important;
  padding: 16px 5px 16px 20px;
  border-radius: 5px;
  border: 2px solid lightpink;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-top: 8px;
}

.ode-newPJimg {
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 100px;
}

.ode-newPJimga {
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 100px;
}


.ode-newpuimg {
    margin-left: 50px;
  margin-top: 15px;
  margin-right: 50px;
}

.ode-newKeyimg{
    margin-left: 50px;
  margin-top: 15px;
  margin-right: 50px;
}
.ode-newCopyimg{
    margin-left: 50px;
  margin-top: 15px;
  margin-right: 50px;
}
.ode-newAddimg{
    margin-left: 50px;
  margin-top: 15px;
  margin-right: 50px;
}

.ode-NonVisibleComponentPanel {display:none;}

.ode-TopPanelButton:hover,
.ActionDropDown-Default:hover,
.ActionDropDownBC-Options:hover,
.ode-Leftbar:hover,
.ode-Rightbar:hover {

background:  #96969626 radial-gradient(circle, transparent 1%, #96969626 1%) center/15000%;
padding: 3px 16px 3px 16px;
border-radius: 8px;
}

.ode-TopPanelButton:active,
.ActionDropDown-Default:active,
.ActionDropDown-Options:active,
.ode-Leftbar:active,
.ode-Rightbar:active {
  background-color: #d8d0d0;
  background-size: 100%;
  transition: background 0.3s;
}

.gwt-Tree .gwt-TreeItem:active {
  background-color: #d8d0d0;
  background-size: 100%;
  transition: background border 0.3s;
  border: 1.2px solid #f44336;
}

.gwt-Tree .gwt-TreeItem-selected {
   transition: 0.3s border;
  border: 1.2px solid #f44336;
}

gwt-Tree .gwt-TreeItem span:hover,
.gwt-Tree .gwt-TreeItem-selected span {
  background-color:transparent;
}




.ode-LabeledTextBox:focus {
  transition: 0.3s border;
  border: 1.2px solid #f44336;
  border-radius: 5px;
}

.ode-ProjectTable tbody tr:hover {
  background:  #96969626 radial-gradient(circle, transparent 1%, #96969626 1%) center/15000%;  
}

   .ode-ProjectTable tbody tr:active {
  background-color: #d8d0d0;
  background-size: 100%;
  transition: background 0.3s;
 }

.ode-ProjectRowHighlighted {
  border-bottom: 1px solid #ddd;
  height: 85px;
  background: rgba(247, 220, 220, 0.9);
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px; 
}

.ode-ProjectRowUnHighlighted {
  border-bottom: 1px solid #ddd;
  background-color: white;
  height: 80px;
  background: rgba(238,238,238,0.9);
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px; 
}

.ode-ContextMenu {
  background-color: transparent;
  height:fit-content;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.ode-ContextMenuItem {
  min-width: 100px;
  width: 208px;
  padding: 10px 24px 10px 24px;
  border-radius: 6px;
}
.ode-ContextMenuItem:hover {
  background:  #96969626 radial-gradient(circle, transparent 1%, #96969626 1%) center/15000%;  
}
.ode-ContextMenuItem:active {
    background-color: #d8d0d0;
  background-size: 100%;
  transition: background 0.3s;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    outline: 0;
    transition: 0.3s border;
    border: 1.2px solid #f44336;
    border-radius: 5px;
}

.ode-ColorChoicePropertyEditor:focus {
    outline: 0;
    transition: 0.3s border;
    border: 1.2px solid #f44336;
    border-radius: 5px;
}

.ode-SimplePaletteItem {
  background-color: white; /* needed on Firefox */
  height: 30px;
  cursor: pointer;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  display: table;
  margin-bottom: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.ode-SimplePaletteItem:hover {
  background:  #96969626 radial-gradient(circle, transparent 1%, #96969626 1%) center/15000%;
}

.ode-SimplePaletteItem:active {
background-color: #eae4e4;
  background-size: 100%;
  transition: background border 0.3s;
  border: 1.2px solid #f44336;
}

.gwt-StackPanel .gwt-StackPanelItem:hover {
  background:  #b7b7b717 radial-gradient(circle, transparent 1%, #b7b7b717 1%) center/15000%;
  border-radius:4px;
}

.gwt-StackPanel .gwt-StackPanelItem:active {
  background-color: #eae4e4;
  background-size: 99%;
   border-radius:4px;
  transition: background 0.3s;
}

.ode-PhoneSizeListBox {
  border-radius: 4px;
  margin-top: 15px;
  margin-left:150px;
  background-color: #eae4e4;
  border: 1.2px solid #f44336;
}

.ode-PhoneSizeListBox:hover {
  background:  #96969626 radial-gradient(circle, transparent 1%, #96969626 1%) center/15000%;
}

.ode-PhoneSizeListBox:active {
background-color: #eae4e4;
  background-size: 100%;
  transition: background 0.3s;
}

.ode-newprimg {
  margin-left: 200px;
  margin-top: 20px;
}




/* END OF LINE */